<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/blog-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Blog Detail</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>    
        </div>
        
            <div class="nav-right">
                <a href="/contact">Contact</a>    
            </div>
    </nav>
    <div class="container">
        <div class="section">
            <h2>{{blog.codes}}</h2>
            <div class="blog">
                <div class="judul">
                    <h2>{{blog.tittle}}</h2>
                </div>
                <div class="imge">
                    <img  class="img" src="../assets/images/dumbways.png" alt="...">
                </div>
                <div class="skill-container">
                    <div style="text-align: right;">
                        <h3>Duration</h3>
                        <i class="fa-brands fa-facebook-square"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="technologies">
                        <div class="technologies">
                            <!-- <h3>Technologies</h3> -->
                            <i class="fa-brands fa-instagram"></i> 
                            <i class="fa-brands fa-linkedin"></i>
                        </div>        
                    </div>
                </div>
                <hr><p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
            </div>
            
            
        
            </hr>
        </div>
    </div>
    <!-- <script src="blog-detail.js"></script> -->
</body>
</html>